* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-family: "Barlow", sans-serif;
}

h1 {
  font-size: 3.5rem;
}

h1,
strong {
  font-family: "Tenor Sans", sans-serif;
}

p {
  font-size: 1.5rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/herobg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

ul {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

li {
  list-style: none;
}

.navBar {
  display: flex;
  justify-content: end;
  padding: 1%;
}

.menuDiv {
  padding: 20px;
}

.menuInfo {
  font-size: 12px;
  text-align: center;
}

.contactDiv {
  text-align: center;
}

.iconDiv {
  margin: 20px;
}

.iconDiv > i {
  font-size: 30px;
  padding: 10px;
}
