* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 2.5rem;
}

h1,
strong {
  font-family: "Tenor Sans", sans-serif;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  background-color: white;
}

i {
  font-size: 1.5rem;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  background-image: url(./images/herobg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
  padding-left: 90px;
}

li:hover,
a:hover {
  cursor: pointer;
  opacity: 80%;
}

p {
  font-size: 2rem;
}
.navBar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 10px;
  background-color: white;
}

.navBar > div {
  font-weight: 800;
}

.menuDiv {
  padding: 30px;
  font-size: 0.8rem;
  line-height: 1.5;
  background-color: white;
  opacity: 80%;
}

.menuDiv > h1 {
  font-size: 1rem;
  margin-bottom: 2%;
}

.menuDiv > p {
  font-size: 0.8rem;
}

.homeDiv > h1 {
  font-size: 5rem;
  margin-bottom: 5%;
}

.heroChild {
  text-align: center;
}

.contactDiv > .iconDiv {
  margin: 20px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  .homeDiv > h1 {
    font-size: 3rem;
  }

  .menuDiv {
    padding: 15px;
    font-size: 0.7rem;
    line-height: 1.5;
  }

  .hero {
    padding: 0 3%;
    background-image: url(./images/herobg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 28%;
  }

  ul {
    justify-content: space-around;
  }

  li {
    padding-left: 20px;
  }
}
