* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Barlow", sans-serif;
  font-size: 20px;
}

h1 {
  font-size: 2.5rem;
}

h1,
strong {
  font-family: "Tenor Sans", sans-serif;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

i {
  font-size: 1.5rem;
  padding: 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/herobg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 85vh;
}

ul {
  display: flex;
  width: 33%;
  justify-content: space-between;
}

li {
  list-style: none;
}

li:hover,
a:hover {
  cursor: pointer;
  opacity: 80%;
}

.navBar {
  display: flex;
  justify-content: end;
  padding: 1%;
}

.menuDiv {
  padding: 20px;
}

.menuDiv > h1 {
  font-size: 1rem;
  margin-bottom: 2%;
}

.menuInfo {
  font-size: 0.6rem;
  line-height: 1.5;
}

.heroChild {
  text-align: center;
}

.contactDiv > .iconDiv {
  margin: 20px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 15px;
  }

  ul {
    width: 100%;
    justify-content: space-around;
  }

  .hero {
    padding: 0 3%;
  }
}
